# --- JAVA & COMPILATION ---
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Directorios de salida de compilación
bin/
build/
out/
target/

# --- INTELLIJ IDEA (Esencial para no subir basura de configuración) ---
.idea/
*.iml
*.iws
*.ipr
out/
cmake-build-*/

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db
desktop.ini

# --- VIRTUAL MACHINE CRASH LOGS ---
hs_err_pid*
replay_pid*

# --- ARCHIVOS TEMPORALES DE EDICIÓN ---
*.swp
*~
.scratch